*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-color{
    background-color: orange;
}
.navbar-nav{
    width: 100%;
    justify-content: space-evenly;
    overflow-x: hidden;
    li{
        border-left: 3px solid white;
        border-right: 3px solid white;
        padding-left: 1.5em;
        padding-right: 1.5em;
        a{
            font-size: 1.5em;
            font-weight: bold;
            color: white;
        }
    }
}
.jumbotron{
    min-height: 28em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    h2{
        position: absolute;
        display: flex;
        top: 40%;
        left: 20%;
        text-align: center;
    }
}
header{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    background-color: yellow;
}
.row{
    --bs-gutter-x:0;
}
.about{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
  .mandala{
     
      height: auto;
      width: 100%;
      position: absolute;
      top: 0;
      left: -10%;
     
      opacity: 0.3;
      img{
          display: block;
        width: 50%;
        height: auto;
        

      }
  }
  .contenedor-bio{
      background-color: rgb(223, 223, 193);
      width: 100%;
      height: 70%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      .text-box-bio{
          height: 100%;
         
          width: 30%;
          padding-top: 5%;
          padding-right: 5%;
          text-align: right;
      }
  }
  .contenedor-sobremandalas{
    background-color: rgb(221, 151, 119);
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .text-box-bio{
        height: 100%;
       
        width: 60%;
        padding-top: 5%;
        padding-right: 5%;
        text-align: right;
    }
  }
}
.cv{
    background-color: rgb(214, 214, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 3%;
    height: auto;
    justify-content: center;
    .contenedor-cv{
        display: flex;
        flex-direction: row;
        width: 70%;
        margin: 0 auto;
        justify-content: center;
        .contenedor-items-cv{
            display: flex;
            flex-direction: column;
            width: 90%;
            justify-content: flex-start;
            .cv-item{
                margin:1em 0;
            }
        }
        .contenedor-extra-cv{
            width: 90%;
            display: flex;
            justify-content: flex-start;
            text-align: left;
            flex-direction: column;
            margin: 0 auto;
            border-left: 3px solid orange;
            padding-left: 1em;
            h2{
                margin-bottom: 1em;
            }
            &:nth-child(2){
                justify-content: flex-end;
                text-align: right;
                border-left: none;
                padding-left: none;
                padding-right: 1em;
                border-right: 3px solid orange;
            }
        }
    }
}
.talleres{
    display:flex;
    flex-direction: column;
    padding: 1em 0em;
    width: 100%;
    height: auto;
    .talleres-header{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        min-height: 12em;
        background-color: orange;
        justify-content: space-between;
        .talleres-header-title{
            padding-left: 3em;
            width: 50%;
            text-align: left;
            height: 100%;
            margin: auto 0;
            h2{
                width: min-content;
                padding-top: 0em;
                border-top: 3px solid black;
            }
        }
    }
    .talleres-part1{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-top: 1.5em;
        justify-content: space-between;
        .talleres-part1-text{
            width: 60%;
            display: flex;
            text-align: left;
        }
        .talleres-part1-extra{
            width: 20%;
            text-align: right;
            display: flex;
            height: auto;
            flex-direction: column;
            justify-content: space-between;
            .talleres-contenido{
                
                width: 100%;
            }
            .talleres-beneficios{
                padding-right: 1em;
                border-right: 3px solid orange;
            }
        }
    }
    .talleres-part2{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        height: auto;
        justify-content: space-between;
        .talleres-lista{
            text-align: left;
            width: 30%;
            border-left: 3px solid orange;
            padding-left: 1em;
        }
        .talleres-pronto{
            width: 20%;
            text-align: center;
            h3{
                width: max-content;
                &:nth-child(2){
                    border-bottom: 3px solid orange;
                }
            }
          
        }
    }
}
.testimonial{
    
}
